<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="menu">
            <ol>
                @*text/view/control*@
                <li>@Html.ActionLink("Order", "", "Order")</li>
                <li>@Html.ActionLink("Product", "", "Product")</li>
                <li>@Html.ActionLink("Order", "", "Order")</li>
                <li>@Html.ActionLink("Item", "", "Order")</li>
                <li>@Html.ActionLink("Item", "", "Order")</li>
                <li>@Html.ActionLink("Item", "", "Order")</li>
                <li>@Html.ActionLink("Item", "", "Order")</li>
                <li>@Html.ActionLink("Item", "", "Order")</li>
            </ol>
        </div>
    </header>
    <br class="ClearLeft"/>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
