@model WebShopCMS.Models.ProductCategoryView


@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Skapa Produkt</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Product.Article_Number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Article_Number)
            @Html.ValidationMessageFor(model => model.Product.Article_Number)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Product.Product_Information)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Product_Information)
            @Html.ValidationMessageFor(model => model.Product.Product_Information)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Product.Product_Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Product_Name)
            @Html.ValidationMessageFor(model => model.Product.Product_Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Product.Product_Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Product_Price)
            @Html.ValidationMessageFor(model => model.Product.Product_Price)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Product.Product_Rating)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Product_Rating)
            @Html.ValidationMessageFor(model => model.Product.Product_Rating)
        </div>

        <div class="editor-label">
         @Html.DropDownListFor(s => s.Product.Product_Category, (IEnumerable<SelectListItem>) ViewBag.Categories);
        </div>
        <div class="editor-field">
           
            @Html.ValidationMessageFor(model => model.Product.Product_Category)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Product.Ammount_In_Stock)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Ammount_In_Stock)
            @Html.ValidationMessageFor(model => model.Product.Ammount_In_Stock)
        </div>
                <div class="editor-label">
            @Html.LabelFor(model => model.Product.In_Stock)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.In_Stock)
            @Html.ValidationMessageFor(model => model.Product.In_Stock)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
