@model WebShopCMS.Models.Product

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Skapa Produkt</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Article_Number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Article_Number)
            @Html.ValidationMessageFor(model => model.Article_Number)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Product_Information)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product_Information)
            @Html.ValidationMessageFor(model => model.Product_Information)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Product_Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product_Name)
            @Html.ValidationMessageFor(model => model.Product_Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Product_Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product_Price)
            @Html.ValidationMessageFor(model => model.Product_Price)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Product_Rating)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product_Rating)
            @Html.ValidationMessageFor(model => model.Product_Rating)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Product_Category)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product_Category)
            @Html.ValidationMessageFor(model => model.Product_Category)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ammount_In_Stock)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ammount_In_Stock)
            @Html.ValidationMessageFor(model => model.Ammount_In_Stock)
        </div>
                <div class="editor-label">
            @Html.LabelFor(model => model.In_Stock)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.In_Stock)
            @Html.ValidationMessageFor(model => model.In_Stock)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
