@model IEnumerable<WebShopCMS.Models.Product>

@{
    ViewBag.Title = "Index";
}
<div class="content-wrapper">
    <div class="left_content">
        <div class="VerticalMenu">
            <ul>
                <li>@Html.ActionLink(">Skapa produkt", "Create")</li>
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>

            </ul>
        </div>
    </div>
    <div class="right-content">
        <h3>Produkter</h3>
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ProductKey }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProductKey }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProductKey })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
